
<div class="foot">
  <div class="contact">
    <i class="fas fa-phone-square-alt fa-3x"></i>
    <div class="data">
      <p class="label">{{ callLabel | translate }}:</p>
      <p *ngIf="user">{{ user.phoneNumber | translate }}</p>
    </div>
  </div>
  <div class="contact">
    <i class="far fa-envelope fa-3x"></i>
    <div class="data">
      <p class="label">{{ contactLabel | translate }}</p>
      <p *ngIf="user">{{ user.email | translate }}</p>
    </div>
  </div>
  <div class="contact">
    <i class="far fa-envelope fa-3x"></i>
    <div class="data">
      <p class="label">{{ contactLabel | translate }}</p>
      <p *ngIf="user">{{ user.email | translate }}</p>
    </div>
  </div>

  <div class="contact">
    <button [routerLink]="['']">{{ buttonValue | translate }}</button>
  </div>
</div>
