.form {
    padding: 10px 20px;
    label {
      padding: 0 15px ;
      margin-bottom: 0;
    }
    .formRow {
      display: flex;
      margin: 15px 0;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      label {
        width: 25%;
      }
      input, select {
        width: 75%;
        height: 30px;
      }
  
    }
}
  
.btn-zira {
    margin-left: auto;
    width: 25%;
    background-color: #1a3469;
    color: white;
    border: none;
}

select {
    padding-left: 0;
    color: #1a3469;
}

select option {
    color: #1a3469;
}
  