<div class="form">
    <p>Search Characters</p>

    <form #characterSearchForm="ngForm" (ngSubmit)="searchCharacters()">
      <div class="formRow" >
        <label for="name" >Name:</label>
        <input [(ngModel)]="searchQuery.name" name="name" id="name" type="text">
      </div>
  
      <div class="formRow">
        <label for="gender">Gender:</label>
        <select [(ngModel)]="searchQuery.gender" id="gender" name="gender">
          <option value="any">Any</option>
          <option value="M">Male</option>
          <option value="F">Female</option>
        </select>
      </div>
  
      <div class="formRow">
        <label for="dob">Date of birth:</label>
        <input [(ngModel)]="searchQuery.dob" name="dob" type="date" id="dob">
      </div>
  
      <div class="formRow">
        <label for="dobCondition">Born:</label>
        <select [(ngModel)]="searchQuery.dobCondition" id="dobCondition" name="dobCondition" [disabled] = "searchQuery.dob == null">
          <option *ngFor="let born of bornOptions" [value]="born">{{born}}</option>
        </select>
      </div>
  
      <div class="formRow">
        <label for="sortBy">Sort by:</label>
        <select [(ngModel)]="searchQuery.sortBy" id="sortBy" name="sortBy">
          <option *ngFor="let sort of sortOptions" [value]="sort">{{sort}}</option>
        </select>
      </div>
  
      <div class="formRow">
        <button type="submit" class="btn-zira">Search</button>
      </div>
    </form>
  </div>
  