@import url('https://fonts.googleapis.com/css?family=Vollkorn&display=swap');
 //Za user stranicu
    

    //tekst
    $namefont: 43px;
    $subtitlefont: 24px;
    $paragraphfont: 12px;
    $textcolor1: black;
    $textcolor2: white; 
    $textcolor3: #82557d;
    $textcolor4: #4a3b4f;
    $textcolor5: #b4b0b5;
    $textstyle: 'Vollkorn', serif;

    //slika
    $border-radius: 100%;
    $shadow1: #161317;
    $shadow2: #161317;
    $picture-size: 50%;
    
    //Za CV stranicu

    $footerbackground:#4a3b4f;
    $mainbackground: #161317; 
    $maintextcolor: #b4b0b5;
    $footertextcolor: #b4b0b5;

    //lista
    $activecolor: #161317;


    //da glavni blok bude centriran

    $mainposition: relative;
    $maindisplay: block;
    $left: auto;
    $right: auto;




