@import url('https://fonts.googleapis.com/css?family=Vollkorn&display=swap');
 
    
    //tekst
    $namefont: 43px;
    $subtitlefont: 24px;
    $paragraphfont: 12px;
    $textcolor1: black;
    $textcolor2: white; 
    $textcolor3: #e895b7;
    $textcolor4: #b02147;
    $textcolor5: #b02147;
    $textstyle: 'Vollkorn', serif;

    $border-radius: 100%;
    $shadow1: #c9a3b5;
    $shadow2: #f7f1e9;
    $picture-size: 50%;

    $footerbackground:#b0a7ad;
    $mainbackground: #f7f1e9; 
    $maintextcolor: #5e5a5c;
    $footertextcolor: #f7f1e9;

    //lista
    
    $activecolor: #b02147;

    //da glavni blok bude centriran

    $mainposition: relative;
    $maindisplay: block;
    $left: auto;
    $right: auto;




