<body class="page">

  <div class="projectholder" >
  
  <div (shift)="shift($event)" class="prex" >
    <div *ngIf="detail" class="details" >
      <h1>{{ detail.name }}</h1>
      <div class="listPic" [ngClass]="{
        positive: detail.images != '',
        negative: detail.images == ''
      }">
        <div class="navigationI"><a class="left" (click)="leftI()"><</a></div>
        <div class="images">
          <img src="{{ image }}" />
          
        </div>
        <div class="navigationI"><a class="right" (click)="rightI()">></a></div>
      </div>
      <div class="pdescription" >
        {{ detail.description }}
      </div>
    </div>
    
  </div>

  <div class="navigation" >
      <div>
        <a (click)="left()">{{ before | translate }}</a>
      </div>
      <div>
        <a (click)="right()">{{ next | translate }}</a>
      </div>
    </div>
  </div>
  </body>