<section>
    <div class="top">
        <img *ngIf="game.imageRequest.imageData" [src]="game.imageRequest.imageData.toString()" style="margin-top: 2%;width:120px;height:140px;font-size: 200px;border: 2px solid #1a3469;" alt="Game image" />
        <div class="top-info">
            <div style="display: flex;">
                <h1>{{game.fullName}}</h1>
                <div style="position: absolute; right:2%;" class="btn-group" role="group">
                    <button type="button" class="btn btn-zira" (click)="addReview()">Add review</button>
                    <button type="button" class="btn btn-zira ml-1 mr-1" (click)="linkGame()">Link to ...</button>
                    <button type="button" class="btn btn-zira ml-1 mr-1" (click)="addRelease()">Add release</button>
                </div>

            </div>
            <div *ngIf="game.firstReleaseDate">
                <span>{{game.numberOfReleases}}
                    Releases
                </span>
                <span style="color: #1a3469">&#9679;
                </span>
                <span>{{game.firstReleaseDate | date: "dd/MM/yyyy"}}</span>
            </div>
            <span *ngIf="!game.firstReleaseDate">Soon to be released</span>
            <p>
                <span *ngFor="let abbr of game.platformAbbreviations">{{abbr}}
                </span>
            </p>
            <p *ngIf="game.outlineText">{{game.outline}}</p>
            <p *ngIf="!game.outlineText">No available outline</p>
        </div>
    </div>
    <div class="bottom">
        <div class="info">
            <p *ngIf="game.information" [innerHTML]="game.information"></p>
            <p *ngIf="!game.information">No available information</p>
        </div>
        <div class="details">
            <h3>Game details</h3>

            <h5>Name</h5>
            <p>{{game.fullName}}</p>

            <div *ngIf="game.firstReleaseDate">
                <h5>First release date</h5>
                <p>{{game.firstReleaseDate | date: "dd/MM/yyyy"}}</p>

                <h5>Platform</h5>
                <p>{{game.platformName}}</p>

                <h5>Developer</h5>
                <p>{{game.developer}}</p>

                <h5>Publisher</h5>
                <p>{{game.publisher}}</p>
            </div>

            <div class="connections">
                <mat-tab-group mat-align-tabs="center">
                    <mat-tab label="Concepts">
                        <game-grid [rows]="concepts" [columns]="columnDefsConcepts"></game-grid>
                    </mat-tab>
                    <mat-tab label="Persons">
                        <game-grid [rows]="persons" [columns]="columnDefsPersons"></game-grid>
                    </mat-tab>
                    <mat-tab label="Objects">
                        <game-grid [rows]="objects" [columns]="columnDefsObjects"></game-grid>
                    </mat-tab>
                    <mat-tab label="Characters">
                        <game-grid [rows]="characters" [columns]="columnDefsCharacters"></game-grid>
                    </mat-tab>
                    <mat-tab label="Location">
                        <game-grid [rows]="locations" [columns]="columnDefsLocations"></game-grid>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</section>