<div class="page ccontact">
  <div class="main">
    <h1 class="maintitle">{{ maintitle | translate }}</h1>

    <div class="maincontact">
      <div class="inputholder">
        <form class="inputs" id="inputs">
          <input
            class="inputdiv"
            type="text"
            name="name"
            placeholder="{{ holderName |translate }}"
          />
          <input
            class="inputdiv"
            type="text"
            name="email"
            placeholder="{{ holderEmail | translate }}"
          />
          <input
            class="inputdiv"
            type="text"
            name="subject"
            placeholder="{{ holderSubject | translate }}"
          />
          <textarea
            class="writetext"
            type="text"
            name="message"
            placeholder="{{ holderMessage | translate }}"
            cols="70"
            rows="5"
          ></textarea>
          <button type="submit" id="submit" (click)="function()" *ngIf="lang" [ngClass]="{
            send1:  lang == 'en',
            send2: lang == 'de' || lang == 'bs' 
          }">
            {{ send | translate }}
          </button>
        </form>
      </div>

      <div *ngIf="user" class="contentholder">
        <div class="content">
          <div class="divholderc">
            <h2>{{ contactHello | translate }}</h2>
            <p class="conttext">{{ contactText | translate }} </p>
          </div>
          <h2>{{ contactInformation | translate }}</h2>
          <div class="contacticons">
            <div class="icons">
              <i class="fa fa-phone fa-1x"> {{ user.phoneNumber }}</i>
            </div>
            <div class="icons">
              <i class="fa fa-envelope fa-1x"> {{ user.email }} </i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
