<section *ngIf="platform">
    <div class="top">
        <img *ngIf="!platform.imageUrl" src="https://i.imgur.com/SFaq3O1.png" alt="Can't load cover" />
        <img *ngIf="platform.imageUrl" [src]="platform.imageUrl" alt="Can't load cover" />
        <div class="top-info">
            <div style="display: flex;">
                <h1>{{platform.fullName}}</h1>
                <div style="position: absolute; right:2%;" class="btn-group" role="group">
                    <button type="button" class="btn btn-zira mr-1" [routerLink]="['/platform-form',platform.id]">Edit</button>
                    <button type="button" class="btn btn-zira" (click)="addRelease()">Add release</button>
                </div>
            </div>
            <span>{{platform.numberOfReleases}} Releases </span> <span style="color: #1a3469">&#9679; </span>
            <span>{{platform.firstReleaseDate}}</span>
            <p>{{platform.outlineText}}</p>
        </div>
    </div>
    <div class="bottom">
        <div class="info" [innerHTML]="platform.information"></div>
        <div class="details">
            <h3>Platform Details</h3>
            <h5>Name: </h5>
            <p>{{platform.fullName}}</p>
            <h5>Abbriviation: </h5>
            <p>{{platform.abbriviation}}</p>
            <h5>Games: </h5>
            <p>{{games}}</p>
        </div>
    </div>

</section>