
<section>
  <mat-tab-group>
    <mat-tab class="overview" label="Overview">
      <h3>Add/Edit Platform</h3>
      <form #platformForm="ngForm" (ngSubmit)="savePlatform()" novalidate >
        <label class="required"  for="fullName">Name: </label>
        <input [(ngModel)]="platformCreateRequest.fullName" type="text" id="fullName" name="fullName" #fullName="ngModel" required/>
        <div [hidden]="validName"
             class="alert alert-danger">
          Name is required
        </div>

        <label  for="abbr">Abbreviation: </label>
        <input [(ngModel)]="platformCreateRequest.abbriviation" type="text" id="abbr" name="abbriviation"/>

        <label class="required" for="code">Code: </label>
        <input [(ngModel)]="platformCreateRequest.code" type="text" id="code" name="code" #code="ngModel" required/>
        <div [hidden]="validCode"
             class="alert alert-danger">
          Code is required
        </div>

        <label  for="outlineText">Outline: </label>
        <textarea [(ngModel)]="platformCreateRequest.outlineText" id="outlineText" name="outlineText"></textarea>

        <div class="image">
          <label>Cover Photo: </label>
          <img *ngIf="platformCreateRequest.imageCreateRequest.imageData" [src]="platformCreateRequest.imageCreateRequest.imageData.toString()" alt="Image"  />
          <input #imageInput hidden="true" type='file' accept="image/*" (change)="onSelectFile($event)">
          <button type="button" (click)="imageInput.click()">Choose Photo</button>
        </div>

        <div class="buttons">
          <button type="submit" class="save">Save</button>
          <button (click)="cancel()" type="reset" class="cancel">Cancel</button>
        </div>
      </form>
    </mat-tab>
    <mat-tab  label="Information">
      <div class="info">
        <h3>Add/Edit Information</h3>
        <quill-editor [(ngModel)]="platformCreateRequest.information" name="information"></quill-editor>
        <div class="info-buttons">
          <div class="buttons">
            <button (click)="savePlatform()" class="save">Save</button>
            <button (click)="cancel()" class="cancel">Cancel</button>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>



