<section>
  <mat-tab-group>
    <mat-tab class="overview" label="Overview">
      <h3>Add/Edit Platform</h3>
      <form #platformForm="ngForm" (ngSubmit)="savePlatform()" >
        <label  for="name">Name: </label>
        <input [(ngModel)]="platform.name" type="text" id="name" name="name" #name="ngModel" required/>
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>

        <label  for="abbr">Abbreviation: </label>
        <input [(ngModel)]="platform.abbriviation" type="text" id="abbr" name="abbriviation"/>

        <label  for="aliases">Aliases: </label>
        <input [(ngModel)]="platform.aliases" type="text" id="aliases" name="aliases"/>

        <label  for="outline">Outline: </label>
        <textarea [(ngModel)]="platform.outline" id="outline" name="outline"></textarea>

        <div class="image">
          <label>Cover Photo: </label>
          <img *ngIf="platform.imageData" [src]="platform.imageData.toString()" alt="Image"  />
          <input #imageInput hidden="true" type='file' (change)="onSelectFile($event)">
          <button type="button" (click)="imageInput.click()">Choose Photo</button>
        </div>

        <div class="buttons">
          <button [disabled]="!platformForm.form.valid" type="submit" class="save">Save</button>
          <button (click)="cancel()" type="reset" class="cancel">Cancel</button>
        </div>
      </form>
    </mat-tab>
    <mat-tab  label="Information">
      <div class="info">
        <h3>Add/Edit Information</h3>
        <quill-editor [(ngModel)]="platform.information" name="information"></quill-editor>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>

