<body class="page" *ngIf="detail">
    <div class="resumeextend" >
    <div class="expand" (shift)="shift($event)" >
        <div class="extended" >
            <div class="titleextended">
                <h1 class="caption" >{{caption | translate}}</h1>
            </div>
        </div>
        <div class="contreadmore" >
            <div class="holderextend">
                <div class="wrapper2resumeextended">
                    <div class="textresume" >

                        <h2 class="subtitle">{{detail.name}}</h2>
                        <p class="shortD">{{detail.subject}}</p>
                        <p class="shortD">{{detail.shortDescription}}</p>

                        <div class="listPic" [ngClass]="{
                            positive: detail.images != '',
                            negative: detail.images == ''
                          }">
                            <div class="navigationI"><a class="left" (click)="leftI()">
                                    <</a> </div> <div class="images">
                                        <img src="{{ image }}" />
                            </div>
                            <div class="navigationI"><a class="right" (click)="rightI()">></a></div>
                        </div>
                        <ul class="l">
                            <li class="details list" *ngFor="let skill of detail.skills">{{skill}}</li>
                        </ul>
                        
                        
                        <p class="details">{{detail.description}}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="options">
            <a class="previous" (click)="left()">
                    {{ before | translate }}</a> <a class="next" (click)="right()">{{ next | translate }}
            </a>

        </div>
</div>
</body>