.nekidiv{
 
  display: flex;
  justify-content: space-between;
}
.head {
  position: $mainposition;
  margin-left: $left;
  margin-right: $right;
  height: 100%;
  width: 60%;
  display: flex;
  .fa-bars {
    z-index: 100;
    height: 42px;
    margin-top: 11px;
    margin-right: 20px;
    color: $mainbackground;
    background: $maintextcolor;
    padding: 6px;
    display: none;
  }
}
.fa-pallete{
  color: $mainbackground;
}

.pomocni{
  width:20%;
}

.mainInformation {
  flex: 1 1 35%;
  color: $maintextcolor;
  height: 100%;
}
.mainInformation > h1 {
  margin-top: 5%;
}

.nekidiv{
  display:flex;
  flex-direction: row;
}


.menibox{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
}

.secondpart{
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: flex-end;
}
.meni {
  flex: 1 1 70%;
  text-align: right;
  ul {
    margin: 67px 0 27px 0px;
    padding: 0;
    width: 100%;
    list-style-type: none;
    li:hover{
      color: $footerbackground;
            &.active {
                color: $textcolor4;
                outline:none;
            }
        }
    }
    li {
      cursor: pointer;
      padding: 0 20px;
      font-weight: bold;
      display: inline-flex;
      color: $maintextcolor;
      text-align: center;
      outline: none;

      &.active {
        color: $footerbackground;
        outline: none;
      }
    }
    .menilang{
      display:none;
    }
  }
  .langmeni{
      background-color: transparent;
      border: 1px solid $maintextcolor;
      font-size: 17px;
      color:$textcolor5;
      outline:none;
  }
  .check{
    background-color: $footerbackground;
    color: white;
    align-items: stretch;
    outline: none;   
  }
  .holderdropdowns{
    width: 20%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    .dropdowns{
      display: flex;
      flex-direction: column;
      height: 21%; 
    }
  }
 
  

@media only screen and (max-width: 1237px) {
  .head {
    width: 100%;
    display: flex;
    .fa-bars {
      display: block;
    }
    .langmeni{
      width:100%;
      
    }
  }
   .holderdropdowns{
    display:none;
  }
  .mainInformation {
    margin-left: 15px;
    flex: 1 1 100%;
    color: $maintextcolor;
    height: 100%;
    width: 100%;
    display: block;
    h1 {
      margin-top: 0%;
    }
  }
  .textofmeni{
    text-align: center;
  }
  .meni {
    display: none;
    background-color: rgba($mainbackground, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    ul {
      margin: 0;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    &.active {
      li {
        display: block;
        border: 1px solid $maintextcolor;
        color: $maintextcolor;
      }

      display: inline-flex;
    }
    .menilang{
      display: flex;
      width:100%;
      background-color: transparent;
      border: 1px solid $maintextcolor;
      font-size: 17px;
      color:$textcolor5;
      outline:none;
      padding-left: 198px;
    }

  }
  .pomocni{
    width: 0%;
  }
}
