<section *ngIf="character">
    <div class="top">
      <div class="image-container">
        <img [src]="character.imageUrl" alt="Can't load cover" class="character-image">
      </div>
      <div class="top-info">
        <div class="controlButtons">
          <h1>{{character.name}}</h1>
          <button class="btn-zira cbtn" (click)="editcharacter()">Edit character</button>
          <button class="btn-zira cbtn" (click)="deletecharacter()">Delete character</button>
        </div>
        <span>{{numOfGames}} Games </span> <span style="color: #1a3469">&#9679; </span> <span>{{character.dob}}</span>
        <p>{{character.outlineText}}</p>
      </div>
    </div>
    <div class="bottom">
      <div class="info cover" [innerHTML]="character.information"></div>
      <div class="details">
        <p class="heading">Character Details</p>
        <p class="item">Name: </p>
        <p>{{character.name}}</p>
        <p class="item">Real Name: </p>
        <p *ngIf="character.realName; else noRealName">{{character.realName}}</p>
        <ng-template #noRealName>
          <p>/</p>
        </ng-template>
        <p class="item">Gender: </p>
        <p>{{character.gender}}</p>
        <p class="item">DOB: </p>
        <p>{{character.dob}}</p>
        <character-game-grid style="width: 100%; height: 250px !important;" [characterGames]="characterGames"></character-game-grid>
      </div>
    </div>
  
  </section>  