.active-cyan-2 input[type="search"]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 0px 0 0 #4dd0e1;
}

.active-cyan input[type="search"] {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 0px 0 0 #4dd0e1;
}
.container {
    padding-top: 5px;
    margin: 0px;
}
.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    line-height: 45px;
    height: 150px;
    padding: 0 16px;
    text-align: right;
    max-width: 100%;
    box-sizing: border-box;
}

.ng-autocomplete {
    width: 100%;
    max-width: 90%;
    display: table;
    margin: 0 auto;
}
