<br>
<div class="row">
    <div class="col-sl">
        <h1 class="home-title col-sm">Vigor</h1>
    </div>
    <div class="col-lg">
        <ng-autocomplete [data]="items" [searchKeyword]="keyword" (selected)='selectEvent($event)'
            (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate" placeholder="Search term...">
        </ng-autocomplete>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-lg">
        <h1>Latest Game Reviews</h1>
        <home-grid [rows]="reviews" [columns]="columnDefsReviews"></home-grid>
    </div>
    <div class="col-lg">
        <h1>Wiki Status</h1>
        <home-grid [rows]="wikiStats" [columns]="columnDefsStatuses"></home-grid>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg">
        <h1>Latest Game Releases</h1>
        <hr>
    </div>
</div>
<div class="row" *ngFor="let interval of map | keyvalue">
    <h4>{{interval.key}}</h4>
    <hr>
    <div *ngFor="let item of interval.value">
        <release-item></release-item>
    </div>
</div>







<ng-template #itemTemplate let-item>
    <div class="item">
        <img src="{{item.imageUrl}}" height="100">
        <span [innerHTML]="item.objectName"></span> &nbsp; | &nbsp;
        <small>Type: {{item.objectType}}</small>
    </div>
</ng-template>

<ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound">ASDASDASDASD</div>
</ng-template>