.form {
    padding: 10px 20px;
    color: #1a3469;
    label {
        margin-bottom: 0;
    }
    .formRow {
        display: flex;
        margin: 15px 0;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        label {
            width: 35%;
        }
        input,
        select {
            height: 30px;
            width: 60%;
        }
        angular2-multiselect {
            height: 30px;
            width: 100%;
        }
    }
}

button {
    margin-left: auto;
    width: 45%;
}

button[type=submit] {
    background-color: #1a3469;
    color: white;
    border: none;
}