<section>
    <h3>Link {{objectAName}} to...
    </h3>
    <form #conceptform="ngForm" (ngSubmit)="save()" novalidate>
        <div class="select-box-list">
            <div class="selectBox">
                <ng-multiselect-dropdown name="characters" [settings]="dropdownSettings" [placeholder]="'Characters'" [data]="character.dropdownList" [(ngModel)]="character.selectedItems"></ng-multiselect-dropdown>
            </div>
            <div class="selectBox">
                <ng-multiselect-dropdown name="concepts" [settings]="dropdownSettings" [placeholder]="'Concepts'" [data]="concept.dropdownList" [(ngModel)]="concept.selectedItems"></ng-multiselect-dropdown>
            </div>

            <div class="selectBox">
                <ng-multiselect-dropdown name="games" [settings]="dropdownSettings" [placeholder]="'Games'" [data]="game.dropdownList" [(ngModel)]="game.selectedItems"></ng-multiselect-dropdown>
            </div>
            <div class="selectBox">
                <ng-multiselect-dropdown name="locations" [settings]="dropdownSettings" [placeholder]="'Locations'" [data]="location.dropdownList" [(ngModel)]="location.selectedItems"></ng-multiselect-dropdown>
            </div>
            <div class="selectBox">
                <ng-multiselect-dropdown name="objects" [settings]="dropdownSettings" [placeholder]="'Objects'" [data]="object.dropdownList" [(ngModel)]="object.selectedItems"></ng-multiselect-dropdown>
            </div>
            <div class="selectBox">
                <ng-multiselect-dropdown name="persons" [settings]="dropdownSettings" [placeholder]="'Persons'" [data]="person.dropdownList" [(ngModel)]="person.selectedItems"></ng-multiselect-dropdown>
            </div>

        </div>

        <div class="buttons">
            <button type="submit" class="save">Save</button>
            <button type="reset" class="cancel" (click)="clear()">Reset values</button>
        </div>
    </form>

</section>