<section>
    <mat-tab-group>
        <mat-tab class="overview" label="Configuration">
            <h3 *ngIf="isEdit">Edit concept</h3>
            <h3 *ngIf="!isEdit">Add concept</h3>
            <form #conceptForm="ngForm" (ngSubmit)="save()" novalidate>
                <label class="required" for="name">Name: </label>
                <input [(ngModel)]="concept.name" type="text" id="name" name="name"
                    required />
                <div *ngIf="conceptForm.controls.name?.invalid && (conceptForm.controls.name?.touched)" class="alert alert-danger">
                    Name is required
                </div>

                <label for="aliases">Aliases: </label>
                <input [(ngModel)]="concept.aliases" type="text" id="aliases" name="aliases" />

                <label for="outline">Outline: </label>
                <textarea [(ngModel)]="concept.outline" id="outline" name="outline"></textarea>

                <div class="image" style="width: 50%">
                    <label style="margin-top: 2%;">Cover Photo: </label>
                    <img *ngIf="concept.imageCreateRequest.imageData"
                            [src]="concept.imageCreateRequest.imageData.toString()" alt="Image" />
                    <div *ngIf="!concept.imageCreateRequest.imageData"
                        style="margin-top: 2%;width:120px;height:140px;font-size: 200px;border: 2px solid #1a3469;">
                    </div>
                    <input (change)="onSelectFile($event)" style="margin-top: 2%;" #imageInput hidden="true" type='file' accept="image/*">
                    <button (click)="imageInput.click()" style="margin-top:18%;"type="button">Choose Photo</button>
                </div>

                <div class="buttons">
                    <button [disabled]="conceptForm.invalid" type="submit" class="save">Save</button>
                    <button type="reset" class="cancel" (click)="clear()">Reset values</button>
                </div>
            </form>
        </mat-tab>
        <mat-tab label="Information">
            <div class="info">
                <h3 *ngIf="isEdit">Edit information</h3>
                <h3 *ngIf="!isEdit">Add information</h3>
                <quill-editor [(ngModel)]="concept.information" name="information"></quill-editor>
                <div class="info-buttons">
                    <div class="buttons">
                        <button [disabled]="conceptForm.invalid" (click)="save()" class="save">Save</button>
                        <button class="cancel" (click)="clear()">Reset values</button>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</section>