.home {

  width:100%;
  padding-top: 40px;
  
}
.homeholder{
  width:100%;
  display: flex;
  align-items: stretch;
  justify-items: baseline;
  padding-bottom: 40px;
  
}
.divholder{
  padding-top: 20px;
  
  
}
.homeparagraph{
  text-align: justify;
}
.slika {
  float: left;
  width: 385px;
  height: 380px;
  border-radius: 50%;
  overflow: hidden;
  img {
      width: 100%;
      object-fit: cover;
 }
}
.hometitle{
  padding-bottom: 15px;
}
.homeText {
  font-size: 19px;
  padding-left: 40px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
  p {
      padding-bottom: 20px;
 }
  ul {
      li {
          display: inline-flex;
          padding-right: 10px;
          list-style-type: none;
          .fa-instagram {
              background: radial-gradient( circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90% );
              -webkit-background-clip: text;
              background-clip: text;
              -webkit-text-fill-color: transparent;
         }
          .fa-youtube-square {
              color: red;
         }
          .fa-facebook {
              color: rgb(66, 103, 178);
         }
          .fa-linkedin {
              color: rgb(40, 103, 178);
         }
     }
 }
  .negative {
      display: none;
 }
}

@media only screen and (max-width: 1435px){
  .slika{
    width: 305px;
      height: 300px;
  }

}
@media only screen and (max-width: 1237px){
  .homeholder{
      flex-direction: column;
      align-items: center;
 }
  .homeText{
      width: 100%;
      padding-left: 0;
 }
  .hometitle{
      text-align: center;
 }
  .ikonice{
      display: flex;
      justify-content: center;
 }
  .home{
      width:100%;
      margin-left: 0;
 }
  .slika{
      width: 285px;
      height: 280px;
      
 }
  .divholder{
      padding-top: 20px;
      padding-bottom: 10px;
 }
 .home{
   padding-top: 20px;
 }

 .hhome{
   width:82%;
   
 }

 
}
