<section>
    <div class="top">
      <img alt="Concept image"/>
      <div class="top-info">
        <h1>Name</h1>
        <span>Number of releases </span> <span style="color: #1a3469">&#9679; </span> <span>Date</span>
        <p>outline</p>
      </div>
    </div>
    <div class="bottom">
      <div class="info">
          <p>Concept info</p>
      </div>
      <div class="details">
        <h5>Aliases</h5>
        <p>aliases</p>
        <div class="connections">
            <div class="tabs">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="" class="nav-link active">Games</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">Persons</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">Objects</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">Characters</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">Locations</a>
                    </li>
                </ul>
            </div>
            <div class="table">Data table</div>
        </div>
      </div>
    </div>
  </section>