<div class="personcontainer">
  <div
    *ngFor="let user of users"
    class="personwrapper"
    [ngClass]="{
      odd: user.id % 2 == 1,
      notodd: user.id % 2 == 0
    }"
  >
    
    <div class="secondpersonwrapper">
     
      <div
        [routerLink]="[language, 'layout', user.code, 'home']"
        class="person"
        [ngClass]="{
          boxshadow1: user.id % 2 == 1,
          boxshadow2: user.id % 2 == 0
        }"
      >
        <div class="profilePicstart">
          <img src="{{ user.imgUrl }}" />
        </div>
      </div>

      <div class="imestart">
        <h1
          [routerLink]="[language, 'layout', user.code, 'home']"
          [ngClass]="{
            namediv1: user.id % 2 == 1,
            namediv2: user.id % 2 == 0
          }"
        >
          {{ user.firstname }} {{ user.lastname }}
        </h1>
      </div>
    </div>
  </div>
</div>
