<section>
    <h3>Add/Edit Formula</h3>
    <form>
      <div class="row">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" />
      </div>
      <div class="row">
        <label for="definition">Formula definition: </label>
        <textarea id="definition" name="definition"></textarea>
      </div>
      <div class="bottom">
        <div class="bottom-left">
          <label>Grades Definition: </label>
          <div class="grades">
            <formula-grade-element *ngFor="let grade of grades"></formula-grade-element>
            <mat-icon (click)="addGrade()">add_circle</mat-icon>
          </div>
        </div>
        <div class="bottom-right">
          <fieldset>
            <legend>Final Grade Preview</legend>
            <h4></h4>
            <h1></h1>
          </fieldset>
          <div class="buttons">
            <div>
              <button class="info" type="button">Validate</button>
            </div>
            <div class="form-buttons">
              <button type="submit">Save</button>
              <button class="cancel" type="reset">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>