<div class="container">
    <p>Search platforms:</p>

    <form #platformSearchForm="ngForm" (ngSubmit)="searchPlatforms()">
        <div class="form-group row" >
            <label for="name" class="col-sm-3 col-form-label">Name:</label>
            <input [(ngModel)]="searchQuery.name" name="name" id="name" type="text"
                class="form-control col-sm-9" placeholder="Name">
        </div>

        <div class="form-group row">
            <label for="genre" class="col-sm-3 col-form-label">Genre:</label>
            <select [(ngModel)]="searchQuery.genre" id="genre" name="genre" 
                class="form-select col-sm-9">
                <option value="any">Any</option>
                <option *ngFor="let genre of genres" [value]="genre.enum">{{genre.value}}</option>
            </select>
        </div>

        <div class="form-group row">
            
            <input [(ngModel)]="searchQuery.startDate" name="startDate" type="date"
                id="startDate" class="form-control col-sm-9 offset-sm-3">

            <label class="col-sm-6 col-form-label">Released between:</label>


            <input [(ngModel)]="searchQuery.endDate" name="endDate" type="date"
                id="endDate" class="form-control col-sm-9 offset-sm-3"> 

        </div>

        <div class="form-group row">
            <label for="region" class="col-sm-3 col-form-label">Region:</label>
            <select [(ngModel)]="searchQuery.region" id="region" name="region" 
                class="form-select col-sm-9" multiple>
                <option *ngFor="let region of regions" [value]="region.id">{{region.name}}</option>
            </select>
        </div>

        <div class="form-group row">
            <label for="features" class="col-sm-3 col-form-label">Features:</label>
            <select [(ngModel)]="searchQuery.features" id="features" name="features" 
                class="form-select col-sm-9" multiple>
                <option *ngFor="let feature of features" [value]="feature.id">{{feature.name}}</option>
            </select>
        </div>

        <div class="form-group row">
            <label for="developer" class="col-sm-3 col-form-label">Developer:</label>
            <select [(ngModel)]="searchQuery.developer" id="developer" name="developer" 
                class="form-select col-sm-9">
                <option value="any">Any</option>
                <option *ngFor="let developer of developers" [value]="developer.id">{{developer.name}}</option>
            </select>
        </div>

        <div class="form-group row">
            <label for="publisher" class="col-sm-3 col-form-label">Publisher:</label>
            <select [(ngModel)]="searchQuery.publisher" id="publisher" name="publisher" 
                class="form-select col-sm-9">
                <option value="any">Any</option>
                <option *ngFor="let publisher of publishers" [value]="publisher.id">{{publisher.name}}</option>
            </select>
        </div>

        <div class="form-group row">
            <button type="submit" class="btn btn-zira col-sm-3 offset-sm-9">Search</button>
        </div>
    </form>
</div>