<div class="form">
    <p>Search platforms:</p>

    <form #platformSearchForm="ngForm" (ngSubmit)="searchPlatforms()">
        <div class="formRow">
            <label for="name" class="col-sm-3 col-form-label">Name:</label>
            <input [(ngModel)]="searchQuery.name" name="name" id="name" type="text" class="form-control col-sm-6"
                placeholder="Name">
        </div>

        <div class="formRow">
            <label class="col-sm-6 col-form-label">Released between:</label>
            <div class="formRow">
                <input [(ngModel)]="searchQuery.startDate" name="startDate" type="date" id="startDate"
                    class="form-control col-sm-6 offset-sm-3">
            </div>
            <div class="formRow">
                <input [(ngModel)]="searchQuery.endDate" name="endDate" type="date" id="endDate"
                    class="form-control col-sm-6 offset-sm-3">
            </div>
        </div>

        <div class="formRow">
            <label for="region" class="col-sm-3 col-form-label">Region:</label>
            <angular2-multiselect [data]="regions" [(ngModel)]="searchQuery.regionIds" [settings]="settings"
                (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)"
                (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)" name="region">
            </angular2-multiselect>
        </div>

        <div class="formRow">
            <label for="developer" class="col-sm-3 col-form-label">Developer:</label>
            <angular2-multiselect [data]="developers" [(ngModel)]="searchQuery.developerIds" [settings]="settings"
                [loading]="loading" (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)"
                (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)" (onOpen)="onOpen($event)"
                (onScrollToEnd)="fetchMore($event)" name="developers">
            </angular2-multiselect>
        </div>

        <div class="formRow">
            <label for="publisher" class="col-sm-3 col-form-label">Publisher:</label>
            <angular2-multiselect [data]="publishers" [(ngModel)]="searchQuery.publisherIds" [settings]="settings"
                [loading]="loading" (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)"
                (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)" (onOpen)="onOpen($event)"
                (onScrollToEnd)="fetchMore($event)" name="publishers">
            </angular2-multiselect>
        </div>

        <div class="formRow">
            <button type="reset" (click)="cancel()" class="btn-zira clear">Clear</button>
            <button type="submit" class="btn-zira">Search</button>
        </div>
    </form>
</div>